#root {
 width: 100vw;
 height: 100vh;
  display: flex;
 justify-content: center;
 align-items: center;
 background-color: #649BDA;
}

.App {
  width: 70%;
  height: 80%;
  padding: 20px 20px;
  background-color: white;
  border-radius: 10px;
}
.location_select {
  display: flex;
}


